body {
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: rgba(256,256,256,0);
}
p {
  padding-top: 15px;
  padding-left: 1em;
  position: relative;
  top: -5px;
}
.sprite {
  display: block;
  padding-left: 2rem;
  margin-left: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.container {
  display: inline-block;
  width: auto;
  height: auto;
  white-space: nowrap;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.5);
  padding-top: 1px;
  padding-right: 4px;
}

/* Powers the vertical bar overlay */
@media screen and (max-height: 15rem) {
  .container {
    display: block ruby !important;
    min-width: 45em;
  }
  p {
    padding-left: 3em;
  }
  .container span:not(:last-child) > p:after {
    content: " | ";
  }
  body {
    overflow-x: hidden;
  }
}