.birdo {background-image: url(birdo.webp);} 
.boo {background-image: url(boo.webp);} 
.bowser {background-image: url(bowser.webp);} 
.bowserjr {background-image: url(bowserjr.webp);} 
.daisy {background-image: url(daisy.webp);} 
.dk {background-image: url(dk.webp);} 
.goomba {background-image: url(goomba.webp);} 
.koopa {background-image: url(koopa.webp);} 
.luigi {background-image: url(luigi.webp);} 
.mario {background-image: url(mario.webp);} 
.monty_mole {background-image: url(monty_mole.webp);} 
.ninji {background-image: url(ninji.webp);} 
.pauline {background-image: url(pauline.webp);} 
.peach {background-image: url(peach.webp);} 
.rosalina {background-image: url(rosalina.webp);} 
.shy_guy {background-image: url(shy_guy.webp);} 
.spike {background-image: url(spike.webp);} 
.toad {background-image: url(toad.webp);} 
.toadette {background-image: url(toadette.webp);} 
.waluigi {background-image: url(waluigi.webp);} 
.wario {background-image: url(wario.webp);} 
.yoshi {background-image: url(yoshi.webp);} 
