.dk {background-image: url(dk.png);} 
.luigi {background-image: url(luigi.png);} 
.mario {background-image: url(mario.png);} 
.peach {background-image: url(peach.png);} 
.wario {background-image: url(wario.png);} 
.yoshi {background-image: url(yoshi.png);} 
